.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F9F9F9;
    padding: 0 2rem;
}

.menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: #808080;
    text-decoration: none;
    margin-right: 1.25rem;
}

.menu__link--activo {
    color: #333333;
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}

.banner {
    position: relative;
}

.banner__imagen {
    width: 100%;
    height: calc(100vh - 72px);
}

.banner__titulo {
    color: #FDFDFD;
    font-family: Pacifico, cursive;
    font-size: 5.0625rem;
    font-weight: 400;
    position: absolute;
    left: 50%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

.sobre {
    padding: 2.5rem
}

.sobre__titulo {
    color: #DA2B1F;
    text-align: center;
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
    font-weight: 400;
}

.sobre__descripcion {
    color: #8C8888;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 100;
}

